body {
    background-color: #1c1a17;
    background-position: center;
    background-image: url(./Images/header_tof.png);
    background-size: 500px 900px;
    background-repeat: no-repeat;
    height: 840px;
    color: #fff;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-size: 15px;
    font-style: normal;
}

h1,
h2,
h3 {
    color: #D8B146;
    font-family: "Della Respira", serif;
    font-weight: normal;
}

.head_nav {
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.head_nav img {
    width: 12px;
}

.head_nav h1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 35px;
    margin-inline: auto;
    width: fit-content;
    font-size: 15px;
}

.head_nav p {
    position: relative;
    top: 350px;
    color: #D8B146;
    font-family: "Playfair Display SC", serif;
    text-shadow: 1px 1px 2px #1c1a17, 0 0 1em #1c1a17, 0 0 0.2em #1c1a17;
}

.header_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
}

.header_content h2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 95px;
    margin-inline: auto;
    width: fit-content;
    font-size: 50px;
    text-shadow: #D8B146 0px 0 10px;
}

.header_content #dev {
    display: block;
    position: relative;
    left: 0;
    right: 0;
    top: 330px;
    width: 230px;
    font-size: 17px;
    text-align: center;
    color: #D8B146;
    font-family: "Della Respira", serif;
    font-style: italic;
}

.nav_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0;
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0%;
    background: rgb(28, 26, 23);
    background: linear-gradient(0deg, rgba(28, 26, 23, 1) 50%, rgba(28, 26, 23, 0) 100%);
}

.nav_menu img {
    width: 15px;
    transition: transform 0.5s;
}

.nav_menu img:hover {
    display: flex;
    transform: scale(1.2);
}

h3 {
    display: flex;
    justify-content: center;
    font-weight: normal;
    padding: 20px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    margin-bottom: 50px;
}

.profilecontent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile #pixel {
    display: flex;
    align-items: center;
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
}

.profile p {
    display: flex;
    align-items: center;
    width: 300px;

}

h4 {
    display: flex;
    justify-content: center;
    font-weight: normal;
    color: #D8B146;
    font-family: "Playfair Display SC", serif;
}

.logos {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    width: 460px;
    padding: 10px;
    border-radius: 30px;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, #24245496 0%, rgba(255, 255, 255, 0) 100%);
}

.logos img {
    width: 15px;
    height: 15px;
}

.hoverpcontent {
    display: none;
    position: absolute;
    z-index: -1;
    padding: 10px;
    background-color: #1c1a17;
    border-radius: 10px;
    margin-top: 25px;
}

.logos img:hover+.hoverpcontent {
    display: flex;
    justify-content: center;
    width: 500px;
}

.formationinfo {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.formationinfo p {
    display: flex;
    justify-content: center;
    width: 800px;
}

.formation {
    display: flex;
    justify-content: center;
    height: 350px;
    margin-bottom: 50px;
}

.formation #fpixel {
    display: flex;
    width: 200px;
    height: 200px;
    padding-top: 50px;
}

.formationcontent p {
    display: flex;
    flex-direction: column;
    text-align: end;
    padding-right: 20px;
    width: 300px;
    height: 200px;
}

.works {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    margin-bottom: 50px;
}

.workscontent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.works #wimg {
    display: flex;
    align-items: center;
    width: 500px;
    height: 200px;
    border-radius: 30px;
    padding: 20px;
}

.works p {
    display: flex;
    align-items: center;
    width: 300px;
}

.footer_content {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    height: 30px;
}

  .contact-wrapper {
    display: flex;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    width: 840px;
    height: 500px;
    z-index: -1;
  }
  
  /* Left contact page */
  .form-horizontal {
    /*float: left;*/
    max-width: 400px;
    font-weight: 400;
    justify-content: space-around;
  }
  
  .form-control, 
  textarea {
    max-width: 400px;
    background-color: #1c1a17;

    color: #fff;
    letter-spacing: 1px;
    border-radius: 15px;
  }
  
  .send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    background-color: #D8B146;
    color:rgb(28, 26, 23);
  }
  
  .send-text {
    display: block;
    margin-top: 10px;
    letter-spacing: 2px;
    font-weight: 800;
    font-family: "Playfair Display SC", serif;
  }
  
  /* Begin Right Contact Page */
  .direct-contact-container {
    max-width: 400px;
  }
  
  /* Location, Phone, Email Section */
  .contact-list {
    list-style-type: none;
  }
  
  .contact-text {
    letter-spacing: 1.9px;
    color: #D8B146;
  }

  .contact-text a {
    color: #D8B146;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  
  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .social-media-list li a {
    color: #fff;
  }
  
  .social-media-list li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: #fff; 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #1c1a17;
  }